body {
  background-color: rgb(255, 255, 224);
}

.title {
  font-size: 22px;
  color: red;
}
.title-h2 {
  font-size: 20px;
  color: green;
}
.red {
  color: red;
  font-size: 20px;
}
.orange {
  color: orange;
  font-size: 26px;

}
.blue {
  color: blue;
}

.text{
  font-size: 28px;
}
